<%- include("partials/header")%>

<div class = "container">
	
	<div class="register-form rounded" style="width: 30%; margin: 25px auto">
		<h3 class='register-heading'>
			Sign up
		</h3>
		<form class = "form-group" action="/register" method = "POST" enctype="multipart/form-data">
	
			<input class='register-item' type="text" name="firstName" placeholder="first name">
			
			<input class='register-item' type="text" name="lastName" placeholder="last name">
			
			<input class='register-item' type="email" name="email" placeholder="email">
			
			<input class='register-item' type="text" name="username" placeholder="username">

			<input class='register-item' type="password" name="password" placeholder="password">
			
			<!-- <input class='register-item' type="text" name="avatar" placeholder="profile picture url"> -->
			<div class="form-group">
                <label for="image">profile image</label>
                <input type="file" id="image" name="image" accept="image/*" required>
            </div>
			
			<input class='register-item desc' type="textbox" name="description" placeholder="tell us something about yourself...">
			
			<p>
				<button class= "register-btn btn btn-lg btn-success">
					Register
				</button>
			</p>
	
		</form>
	</div>
	
</div>

<%- include("partials/footer")%>