
/* index */
.jumbotron{
	
	background: white;
	margin: 20px 60px 0 0;
	padding: 0 0 20px 0;
	background-image: url("https://i.imgur.com/SNSvlFe.jpg");
	background-repeat:no-repeat;
	background-size: 1100px 400px;
	color:white;
	border: 5px solid black;
	font-family: 'Pangolin', cursive;
	
}

.index.container{
	
	margin:0 0 0 0;
}
.cardRow{
	
	margin:0 0 0 0;
	padding: 0 0 0 0;
	
}

.card.campgrounds{
	margin:20px 0 0 0;
	border-radius:10%;
}

.card-img-top.index{
	
	height: 170px;
	border-radius:10%;
	border: 5px solid white;
	
}

.card-body.index{
	
	height: 70px;
	font-family: 'Pangolin', cursive;
	
}
.index-buttons{
	
	margin:30px 0 0 0;
}

body{
	padding-top:60px;
	background: rgb(233,235,238);w
}

img{
	
	height: 100%;
	width: 100%;
}

.form-inline{
	float:right;
}

.btn.moreinfo{
	border-radius:100%;
	float:right;
}

.card-body.index{
	padding-top:0;
}

.introSent{
	
	margin:30px 0 20px 0;
	font-size:20px;
}

.fas.fa-plus{
	
	color:#fff;
    content: '/f35a';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.indexJumbo{
	margin-top:auto 0;
	text-align:center;
	background: rgb(172,172,172);
	background: linear-gradient(90deg, rgba(172,172,172,1) 0%, rgba(87,130,123,1) 35%, rgba(23,11,101,1) 100%);
}

/* Google Maps */
.map {
	margin-top:20px;
    height: 400px;
    width: 100%;
}

.fas.fa-info{
	
	color:#fff;
    content: '/f35a';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

}

.fas.fa-map-signs{
	
    content: '/f5a0';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	font-size:50px;
    text-decoration: inherit;
	padding-left:20px;

}

/* header */

.alert{
	margin-top: 10px;
}

.form-group.search{
	margin-left:15px;
	font-family: 'Pangolin', cursive;
}
/* show */
.delete-form{
		display:inline;
}

.far.fa-user{
    content: '/f35a';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.fas.fa-map-signs.header{
    content: '/f35a';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	font-size:17px;
	padding-left:0;
	margin-right:0;
	
}

.fas.fa-user-plus{
	content: '/f35a';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.navbar-brand{
	font-family: 'Pangolin', cursive;
}

.nav-link.sign-up{
	
	font-family: 'Pangolin', cursive;
}

.nav-link.login{
	
	font-family: 'Pangolin', cursive;
}

.pagination{
	
	font-family: 'Pangolin', cursive;
}

.collapse.navLinks{
	
	font-family: 'Pangolin', cursive;
}


/* campgrounds/show */
.campground-show{
	font-family: 'Pangolin', cursive;
}
.caption-full{
	padding:9px;
}

.well{
	padding-top:15px;
}

.showRow{
	padding-top:20px;
}

.navbar-dark{
	
	background: rgb(172,172,172);
	background: linear-gradient(90deg, rgba(172,172,172,1) 0%, rgba(87,130,123,1) 35%, rgba(23,11,101,1) 100%);

} 

.add-campground{
	
	font-family: 'Pangolin', cursive;
	background:white;
	width: 350px;
	margin-top:20px;
	
} 

.h4.add-title{
	
	text-align:center;
}


/* comments */

.well.comments{
	margin: 20px 0 20px 0;
	background:white;
}

.btn.comments{
	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	float:left;
}

/* login */

.login-form{
	background:white;
	text-align:center;
	font-family: 'Pangolin', cursive;
}

.login-item{
	
	margin-bottom:20px;
}

.login-heading{
	padding:50px 0 20px 0;
}

.login-btn{
	
	padding:0 40px 0 40px;
	margin: 0 0 10px 0;
}

.login-register{
	padding-bottom:40px;
}

/* register */
.register-form{
	
	background:white;
	text-align:center;
	font-family: 'Pangolin', cursive;
	
}

.register-item{
	
	margin-bottom:20px;
}

.register-heading{
	padding:50px 0 20px 0;
}

.register-btn{
	
	padding:0 40px 0 40px;
	margin: 0 0 50px 0;
}

.form-group.image-upload{
	
	margin-left:80px;
}

.register-label{
	
	margin-right:60px;
}

/* user profile */

.caption{
	
	background: rgb(233,235,238);
}

.user-profile{
	font-family: 'Pangolin', cursive;
}

/* margins top right bottom left */
.users-campgrounds{

	margin: 55px 0 0 200px;
	
}

.card-header{
	
	color:white;
	text-align:center;
	background: rgb(172,172,172);
	background: linear-gradient(90deg, rgba(172,172,172,1) 0%, rgba(87,130,123,1) 35%, rgba(23,11,101,1) 100%);
}

.userlist{
	text-align:center;
	justify-content:center;
	margin:0 0 0 0;
}
	
.card.user{
	margin:55px 0 0 0;
}
.caption.profile{
	text-align:center;
	background:white;
	
}

.navbar.scrolled {

	background: rgb(172,172,172);
	background: linear-gradient(90deg, rgba(172,172,172,1) 0%, rgba(87,130,123,1) 35%, rgba(23,11,101,1) 100%);
	opacity:.7;
	transition: background 500ms;
}