
/* index */
.jumbotron{
	
	background: white;
	margin: 20px 60px 0 0;
	padding: 0 0 50px 0;
	background-image: url("https://i.imgur.com/Ed7xLXB.jpg");
	background-repeat:no-repeat;
	background-size: 1100px 400px;
	color:white;
	border: 5px solid black;
	

}

.card.campgrounds{
	margin:20px 0 0 0;
	border: 5px solid white;
}
/* .addCamp{
	
	float:center;
	padding-left:10px;
} */

body{
	padding-top:60px;
	background: rgb(233,235,238);
}

img{
	
	height: 100%;
	width: 100%;
}

.form-inline{
	float:right;
}

.btn.moreinfo{
	border-radius:100px;
}
/* Google Maps */
.map {
	margin-top:20px;
    height: 400px;
    width: 100%;
}
	


/* header */
.alert{
	margin-top: 10px;
}

.form-group{
	margin-left:15px;
}
/* show */
.delete-form{
		display:inline;
}


/* campgrounds/show */
.caption-full{
	padding:9px;
}

.well{
	padding-top:15px;
}

.showRow{
	padding-top:20px;
}

.navbar-dark{
	
	background: rgb(172,172,172);
	background: linear-gradient(90deg, rgba(172,172,172,1) 0%, rgba(87,130,123,1) 35%, rgba(23,11,101,1) 100%);

} 

/* comments */
/* Single-direction drop shadow */

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.well.comments{
	margin: 20px 0 20px 0;
	background:white;
}

.btn.comments{
	
	margin: 100px 0 0 0;
}

/* login */

.login-form{
	background:white;
	text-align:center;
}

.login-item{
	
	margin-bottom:20px;
}

.login-heading{
	padding:50px 0 20px 0;
}

.login-btn{
	
	padding:0 40px 0 40px;
	margin: 0 0 10px 0;
}

.login-register{
	padding-bottom:40px;
}

/* register */
.register-form{
	
	background:white;
	text-align:center;
}

.register-item{
	
	margin-bottom:20px;
}

.register-heading{
	padding:50px 0 20px 0;
}

.register-btn{
	
	padding:0 40px 0 40px;
	margin: 0 0 50px 0;
}

/* user profile */
.avatar{
	
	
}

.caption{
	
	background: rgb(233,235,238);
}

/* margins top right bottom left */
.users_campgrounds{
	
	/* margin: 0 0 0 0; */
	/* padding: 50px 0 0 0;  */
	margin: 55px 0 0 200px;
	
}

.card-header{
	
	color:white;
	text-align:center;
	background: rgb(172,172,172);
	background: linear-gradient(90deg, rgba(172,172,172,1) 0%, rgba(87,130,123,1) 35%, rgba(23,11,101,1) 100%);
}

.userlist{
	text-align:left;
}
	
.card.user{
	margin:55px 0 0 0;
}
.caption.profile{
	text-align:center;
	background:white;
	
}

.navbar.scrolled {

	background: rgb(172,172,172);
	background: linear-gradient(90deg, rgba(172,172,172,1) 0%, rgba(87,130,123,1) 35%, rgba(23,11,101,1) 100%);
	opacity:.7;
	transition: background 500ms;
}